@import url('https://fonts.googleapis.com/css?family=Anta:700|Anta:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 260 69% 5%;
    --background: 259 73% 94%;
    --primary: 261 71% 27%;
    --secondary: 310 71% 69%;
    --accent: 328 71% 42%;
  }
  .dark {
    --text: 260 69% 95%;
    --background: 259 73% 6%;
    --primary: 261 71% 73%;
    --secondary: 310 71% 31%;
    --accent: 328 71% 58%;
  }

  body {
    @apply font-body;
  }
  h1, h2, h3, h4, h5 {
    @apply font-heading;
  }
}